{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before, #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner-component__content::before  {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
    }
    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }

    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }}
    ;
  }
  .banner-component:after,
  .banner-component__media:after {
    content: "";
    position: absolute;
    top: 0;
    background: #000000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .banner-component:after,
  .banner-component__media:after {
    content: "";
    position: absolute;
    top: 0;
    background: #000000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  /* banner 组件 */
  .banner-component {
    position: relative
  }
  .banner-component .banner-component__box {
    padding: 0;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    text-align: left;
  }
  .banner-component .banner-component__content {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    text-align: left;
  }
  .banner-component .banner-component__media {
    height: 100%;
    width: 100%;
    position: static;
  }
  .banner__heading {
    font-weight: bold;
  }
  .banner-component-bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  .banner-component-bottom-info .banner__left_bottom_info {}
  .banner-component-bottom-info .banner__right_bottom_info {
    padding: 14px;
    border-radius: 40px;
    border: 1px solid #fff;
    font-size: 24px;
  }
  .banner-component-button {
    font-size: 48px;
    background: none;
    padding: 0 14px;
    font-weight: bold;
  }
  .banner-component-bottom-info .price {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
  }
  @media screen and (max-width: 750px) {
    .banner-component .banner-component__content {
      width: 90%;
    }
    .banner-component .banner-component__media {
      min-height: 52rem;
      width: 100%;
    }
    .banner-component-bottom-info {
      flex-wrap: wrap;
    }
    .banner-component__box .banner__heading {
      font-size: 32px !important;
    }
    .banner-component-bottom-info .banner__right_bottom_info {
      padding: 10px;
      font-size: 18px;
    }
    .banner-component-button {
      font-size: 32px;
      padding: 0 10px;
    }
    .banner-component__box img {
      width: 24px;
      height: 24px;
    }
    .banner-component-bottom-info .price {
      font-size: 32px;
    }
  }
{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="bg_wrapper banner-component   banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} ">
  {%- if section.settings.image != blank -%}
    <div class="banner-component__media media  {% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {%-liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = "banner__media-image-half"
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = "(min-width: 750px) 50vw, 100vw"
        elsif section.settings.image_2 != blank
          assign sizes = "50vw"
        else
          assign sizes = "100vw"
        endif
      -%}
      {{ section.settings.image | image_url: width: 1500 | image_tag: 
       loading: 'lazy'
       , width: section.settings.image.width
       , height: image_height
       , class: image_class
       , sizes: sizes
       , widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
       , alt: section.settings.image.alt | escape }}
    </div>

  {%- endif -%}
  <div class="banner-component__content banner-component__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner-component__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
          <h2 class="banner__heading"{{ block.shopify_attributes }}style="font-size:{{ block.settings.font_size }}px;margin-top:{{ block.settings.margin_top }}px;margin-bottom:{{ block.settings.margin_bottom }}px;color:{{ block.settings.heading_color }}">
            <span>{{ block.settings.heading | escape }}</span>
          </h2>
          {%- when 'bannerComponentBottomInfo' -%}
          <div class="banner-component-bottom-info">
            <div class="banner__left_bottom_info " {{ block.shopify_attributes }}>
              <p>{{ block.settings.heading | escape }}</p>
              <p>{{ block.settings.heading_1 | escape }}<span class="price">{{ block.settings.price | escape }}</span>
              </p>
            </div>
            {%- if block.settings.banner_button_link != blank -%}
              <div class="banner__right_bottom_info" {{ block.shopify_attributes }}>
                <a {% if block.settings.banner_button_link == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.banner_button_link }}"{% endif %} class="button banner-component-button {% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.banner_button_label | escape }}</a>
                <img
                  src="{{'button_logo_1.png'  | asset_url }}"
                  width="34"
                  height="34" />
              </div>
            {%- endif -%}

          </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Banner Compoent",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "背景图"
      },

      {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
        "default": 0
      },
      {
        "type": "select",
        "id": "image_height",
        "options": [
          {
            "value": "small",
            "label": "t:sections.image-banner.settings.image_height.options__1.label"
          }, {
            "value": "medium",
            "label": "t:sections.image-banner.settings.image_height.options__2.label"
          }, {
            "value": "large",
            "label": "t:sections.image-banner.settings.image_height.options__3.label"
          }
        ],
        "default": "medium",
        "label": "t:sections.image-banner.settings.image_height.label",
        "info": "t:sections.image-banner.settings.image_height.info"
      },
      {
        "type": "checkbox",
        "id": "adapt_height_first_image",
        "default": false,
        "label": "t:sections.image-banner.settings.adapt_height_first_image.label",
        "info": "t:sections.image-banner.settings.adapt_height_first_image.info"
      }, {
        "type": "select",
        "id": "desktop_content_position",
        "options": [
          {
            "value": "top-left",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
          },
          {
            "value": "top-center",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
          },
          {
            "value": "top-right",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
          },
          {
            "value": "middle-left",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
          }, {
            "value": "middle-center",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
          }, {
            "value": "middle-right",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
          }, {
            "value": "bottom-left",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
          }, {
            "value": "bottom-center",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
          }, {
            "value": "bottom-right",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
          }
        ],
        "default": "middle-center",
        "label": "t:sections.image-banner.settings.desktop_content_position.label"
      }, {
        "type": "checkbox",
        "id": "show_text_box",
        "default": true,
        "label": "t:sections.image-banner.settings.show_text_box.label"
      }, {
        "type": "select",
        "id": "desktop_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
      }, {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.image-banner.settings.color_scheme.info"
      }, {
        "type": "header",
        "content": "t:sections.image-banner.settings.header.content"
      }, {
        "type": "select",
        "id": "mobile_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
      }, {
        "type": "checkbox",
        "id": "stack_images_on_mobile",
        "default": true,
        "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
      }, {
        "type": "checkbox",
        "id": "show_text_below",
        "default": true,
        "label": "t:sections.image-banner.settings.show_text_below.label"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image-banner.blocks.heading.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Image banner",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          },
          {
            "type": "range",
            "id": "font_size",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "文本字体大小",
            "default": 24
          },
          {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "文本上边距",
            "default": 24
          }, {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "文本下边距",
            "default": 24
          }, {
            "type": "select",
            "id": "heading_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "黑色"
          }
        ]
      }, {
        "type": "bannerComponentBottomInfo",
        "name": "banner底部内容",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "FUll SIZE",
            "label": "标题1"
          },
          {
            "type": "text",
            "id": "heading_1",
            "default": "Kitchen/Bedroom/Great Room",
            "label": "副标题"
          },
          {
            "type": "text",
            "label": "价格",
            "id": "price"
          },
          {
            "type": "url",
            "label": "按钮",
            "id": "banner_button_link"
          }, {
            "type": "text",
            "label": "按钮文案",
            "id": "banner_button_label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "banner Component",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "bannerComponentBottomInfo"
          }
        ]
      }
    ]
  }
{% endschema %}