{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .left-image svg{
    width:60px;
    height:60px;
    transform:translate3D(-90deg)
  }
  @media screen and (max-width: 1660px) {
  
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width: 750px) {
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient ">
  <div class="co-creation-work">
    

   {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when "leftWrapper" -%}
        <div class="left-wrapper">
          <div class="left-heading">
            {{block.settings.heading_1  }}
          </div>
          <div class="left-image">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0" viewBox="-0.4 -0.4 217.7 173.7" zoomAndPan="magnify" style="fill: rgb(181, 239, 53);" role="img" aria-label="箭头设计元素箭头"><g id="__id349_sv0xwm33cn9"><path d="M83.6,1.2L1.2,83.6c-1.6,1.6-1.6,4.1,0,5.7l82.4,82.4c1.6,1.6,4.1,1.6,5.7,0c1.6-1.6,1.6-4.1,0-5.7L13.7,90.4h199.6 c2.2,0,4-1.8,4-4s-1.8-4-4-4H13.7L89.3,6.8C90,6,90.4,5,90.4,4S90,2,89.3,1.2C87.7-0.4,85.2-0.4,83.6,1.2z" style="fill: inherit;"></path></g></svg>
          </div>
          <div class="left-heading">
            {{block.settings.heading_2  }}
          </div>
             <div class="left-image">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0" viewBox="-0.4 -0.4 217.7 173.7" zoomAndPan="magnify" style="fill: rgb(181, 239, 53);" role="img" aria-label="箭头设计元素箭头"><g id="__id349_sv0xwm33cn9"><path d="M83.6,1.2L1.2,83.6c-1.6,1.6-1.6,4.1,0,5.7l82.4,82.4c1.6,1.6,4.1,1.6,5.7,0c1.6-1.6,1.6-4.1,0-5.7L13.7,90.4h199.6 c2.2,0,4-1.8,4-4s-1.8-4-4-4H13.7L89.3,6.8C90,6,90.4,5,90.4,4S90,2,89.3,1.2C87.7-0.4,85.2-0.4,83.6,1.2z" style="fill: inherit;"></path></g></svg>
             </div>
          <div class="left-heading">
            {{block.settings.heading_3  }}
          </div>
          <div class="left-image">
                             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0" viewBox="-0.4 -0.4 217.7 173.7" zoomAndPan="magnify" style="fill: rgb(181, 239, 53);" role="img" aria-label="箭头设计元素箭头"><g id="__id349_sv0xwm33cn9"><path d="M83.6,1.2L1.2,83.6c-1.6,1.6-1.6,4.1,0,5.7l82.4,82.4c1.6,1.6,4.1,1.6,5.7,0c1.6-1.6,1.6-4.1,0-5.7L13.7,90.4h199.6 c2.2,0,4-1.8,4-4s-1.8-4-4-4H13.7L89.3,6.8C90,6,90.4,5,90.4,4S90,2,89.3,1.2C87.7-0.4,85.2-0.4,83.6,1.2z" style="fill: inherit;"></path></g></svg>
           </div>
          <div class="left-heading">
            {{block.settings.heading_4  }}
          </div>
        </div>
        {%- when "rightWrapper" -%}
        <div class="right-wrapper"></div>
      {%- endcase -%}
    {%- endfor -%}
    
  </div>
</div>

{% schema %}
{
  "name": "成为合作伙伴",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "How does 'CO-CREATE' work?",
      "label": "Heading"
    },

    {
      "type": "image_picker",
      "id": "image",
      "label": "下标图"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        }, {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        }, {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    }, {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }, {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }, {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }, {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    }, {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks":[
    {
      "type":"leftWrapper",
      "name":"leftWrapper",
      "settings":[
        {
          "type":"text",
          "id":"text_1",
          "label":"文本1"
        },
        {
          "type":"text",
          "id":"text_2",
          "label":"文本2"
        },
        {
          "type":"text",
          "id":"text_3",
          "label":"文本3"
        },
        {
          "type":"text",
          "id":"text_4",
          "label":"文本4"
        }
      ]
    },
    {
      "type":"rightWrapper",
      "name":"rightWrapper",
      "settings":[
        {
          "type":"text",
          "id":"text_1",
          "label":"文本1"
        },
        {
          "type":"text",
          "id":"text_2",
          "label":"文本2"
        },
        {
          "type":"text",
          "id":"text_3",
          "label":"文本3"
        },
        {
          "type":"text",
          "id":"text_4",
          "label":"文本4"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "co-creation-work",
      "blocks":[
        {"type":"leftWrapper"},
        {"type":"rightWrapper"}
      ]
    }
  ]
}
{% endschema %}
