{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .co-creation-work-h2{
    font-size:48px;
    color:#fff;
    background:#121212;
    height:100px;
    line-height:100px;
    text-align:center;
    margin:0 auto;
    
  }
  .co-creation-work-wrapper{
    display:flex;
    justify-content:space-around;
    padding:30px 14px 20px;
    width:1200px;
    margin:0 auto;
  }
  @media screen and (max-width: 1280px) {
    .co-creation-work-wrapper{
      width:100%;
    }
  }
  .leftWrapper{
    width:48%;
    text-align:center;
  }
  .left-heading{
    font-size:28px;
    font-weight:bolder;
    color:#fff;
    text-align:center;
  }
  .left-image{
    text-align:center;
  }
  .left-image svg{
    width:40px;
    height:50px;
    transform:rotate(-90deg)
  }
  .right-wrapper{
    width:48%;
  }
  .right-wrapper .right-text{
    color:#fff;
    margin:0 auto 36px;
    text-align:center;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width: 750px) {
    .left-heading{
    font-size:24px;
  }
    .co-creation-work-h2{
      font-size:40px;
    }
    .co-creation-work-wrapper{
      display:block;
    }
    .leftWrapper{
      width:90%;
      margin:14px auto;
      text-align:center;
    }
    .right-wrapper{
      width:90%;
      margin:14px auto;
      text-align:center;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient co-creation-work " style="padding:24px 0;">
     <h2 class="co-creation-work-h2" style="font-weight:{{ section.settings.font-weight }}">
      <span>{{ section.settings.heading | escape }}</span>
    </h2>
  <div class="co-creation-work-wrapper">
    

   {%- for block in section.blocks -%}
      {%- case block.type -%}
           
        {%- when "leftWrapper" -%}
        <div class="left-wrapper">
          <div class="left-heading">
            {{ block.settings.text_1  }}
          </div>
          <div class="left-image">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0" viewBox="-0.4 -0.4 217.7 173.7" zoomAndPan="magnify" style="fill: rgb(181, 239, 53);" role="img" aria-label="箭头设计元素箭头"><g id="__id349_sv0xwm33cn9"><path d="M83.6,1.2L1.2,83.6c-1.6,1.6-1.6,4.1,0,5.7l82.4,82.4c1.6,1.6,4.1,1.6,5.7,0c1.6-1.6,1.6-4.1,0-5.7L13.7,90.4h199.6 c2.2,0,4-1.8,4-4s-1.8-4-4-4H13.7L89.3,6.8C90,6,90.4,5,90.4,4S90,2,89.3,1.2C87.7-0.4,85.2-0.4,83.6,1.2z" style="fill: inherit;"></path></g></svg>
          </div>
          <div class="left-heading">
            {{ block.settings.text_2  }}
          </div>
             <div class="left-image">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0" viewBox="-0.4 -0.4 217.7 173.7" zoomAndPan="magnify" style="fill: rgb(181, 239, 53);" role="img" aria-label="箭头设计元素箭头"><g id="__id349_sv0xwm33cn9"><path d="M83.6,1.2L1.2,83.6c-1.6,1.6-1.6,4.1,0,5.7l82.4,82.4c1.6,1.6,4.1,1.6,5.7,0c1.6-1.6,1.6-4.1,0-5.7L13.7,90.4h199.6 c2.2,0,4-1.8,4-4s-1.8-4-4-4H13.7L89.3,6.8C90,6,90.4,5,90.4,4S90,2,89.3,1.2C87.7-0.4,85.2-0.4,83.6,1.2z" style="fill: inherit;"></path></g></svg>
             </div>
          <div class="left-heading">
            {{ block.settings.text_3  }}
          </div>
          <div class="left-image">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0" viewBox="-0.4 -0.4 217.7 173.7" zoomAndPan="magnify" style="fill: rgb(181, 239, 53);" role="img" aria-label="箭头设计元素箭头"><g id="__id349_sv0xwm33cn9"><path d="M83.6,1.2L1.2,83.6c-1.6,1.6-1.6,4.1,0,5.7l82.4,82.4c1.6,1.6,4.1,1.6,5.7,0c1.6-1.6,1.6-4.1,0-5.7L13.7,90.4h199.6 c2.2,0,4-1.8,4-4s-1.8-4-4-4H13.7L89.3,6.8C90,6,90.4,5,90.4,4S90,2,89.3,1.2C87.7-0.4,85.2-0.4,83.6,1.2z" style="fill: inherit;"></path></g></svg>
           </div>
          <div class="left-heading">
            {{ block.settings.text_4  }}
          </div>
        </div>
        {%- when "rightWrapper" -%}
        <div class="right-wrapper">
           <div class="right-text">
            {{ block.settings.text_1  }}
          </div>
          <div class="right-text">
            {{ block.settings.text_2  }}
          </div>
          <div class="right-text">
            {{ block.settings.text_3  }}
          </div>
          <div class="right-text">
            {{ block.settings.text_4  }}
          </div>
        </div>
      
         
      {%- endcase -%}
    {%- endfor -%}
     
  </div>
  <div class="banner__buttons{% if section.blocks[2].settings.button_label_1 != blank and section.blocks[2].settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ section.blocks[2].shopify_attributes }} style="background:{{ section.blocks[2].settings.button_background }};border-radius:{{ section.blocks[2].settings.btn_radius }}px;margin:14px auto;display:block;width:180px;text-align:center;">
    {%- if section.blocks[2].settings.button_label_1 != blank -%}
      <a {% if section.blocks[2].settings.button_link_1 == blank %}role="link"aria-disabled="true"{% else %} href="{{ section.blocks[2].settings.button_link_1 }}" {% endif %} class="button{% if section.blocks[2].settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ section.blocks[2].settings.button_label_1 | escape }}</a>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "成为合作伙伴",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "How does 'CO-CREATE' work?",
      "label": "Heading"
    },
     {
      "type": "range",
      "id": "font-weight",
      "min": 0,
      "max": 900,
      "step": 100,
      "unit": "px",
      "label": "字体加粗",
      "default": 400
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        }, {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        }, {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    }, {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }, {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }, {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }, {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    }, {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks":[
    {
      "type":"leftWrapper",
      "name":"leftWrapper",
      "settings":[
        {
          "type":"text",
          "id":"text_1",
          "label":"文本1"
        },
        {
          "type":"text",
          "id":"text_2",
          "label":"文本2"
        },
        {
          "type":"text",
          "id":"text_3",
          "label":"文本3"
        },
        {
          "type":"text",
          "id":"text_4",
          "label":"文本4"
        }
      ]
    },
    {
      "type":"rightWrapper",
      "name":"rightWrapper",
      "settings":[
        {
          "type":"text",
          "id":"text_1",
          "label":"文本1"
        },
        {
          "type":"text",
          "id":"text_2",
          "label":"文本2"
        },
        {
          "type":"text",
          "id":"text_3",
          "label":"文本3"
        },
        {
          "type":"text",
          "id":"text_4",
          "label":"文本4"
        }
      ]
    },
    {
        "type": "buttons",
        "name": "t:sections.image-banner.blocks.buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
          }, {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
          }, {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
          }, {
            "type": "select",
            "id": "button_background",
            "options": [
              {
                "value": "#000",
                "label": "黑色"
              }, {
                "value": "#B5EF35",
                "label": "主题色"
              }
            ],
            "default": "#B5EF35",
            "label": "主题色"
          }, {
            "type": "range",
            "id": "btn_radius",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "圆角幅度",
            "default": 24
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "co-creation-work",
      "blocks":[
        {"type":"leftWrapper"},
        {"type":"rightWrapper"},
        {"type":"buttons"}
      ]
    }
  ]
}
{% endschema %}
