{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before, #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before  {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
      #Banner-template--15563052187748__015b80b6-20a5-48c4-a1ac-874256d48648 {
        height: 360px;
      }

    }


    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
      .banner__content.banner__content--bottom-center {
        align-items: center !important;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }}
    ;
  }
  @media screen and (min-width: 750px) {

    .banner__content.banner__content--bottom-center {
      align-items: center !important;
    }
    .lr-blocks-banner__box {
      display: flex;
      justify-content: space-between !important;
      min-width: var(--page-width);
    };


  }
  .lr-blocks-banner__box .banner__box-item:first-child {
    text-align: left;
  }
  .lr-blocks-banner__box .banner__box-item {
    width: 50% !important;
  }
  .lr-blocks-banner__box .banner__buttons .button {
    background: none;
    /* color: #fff; */
    /* border: 1px solid #fff; */
    border-radius: 20px;
    padding: 6px 14px;
  }
  .lr-blocks-banner__box .banner__buttons .button img {
    margin-left: 14px;
    vertical-align: middle;
  }
  .lr-blocks-banner__content {
    padding: 0 !important;
    justify-content: space-between !important;
  }
  .right-text-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 14px 0;
  }

  .card-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-flex-box img {
    margin: 14px;
  }
  @media screen and (max-width:1280px) {
    .image-wrapper {
      width: 300px;
      height: 300px;
    }
    .lr-blocks-banner__box {
      justify-content: space-between !important;
      flex-wrap: wrap;
      min-width: unset !important;
    };
  }

  @media screen and (max-width: 750px) {
    .lr-blocks-banner__box .banner__box-item {
      width: 94% !important;
      margin: 24px auto;
      text-align: center !important;
    }
    .image-wrapper {
      width: 300px;
      height: 200px;
    }
  }
{%- endstyle -%}

<div
  id="Banner-{{ section.id }}"
  style="padding:24px 0;"
  class="banner {% if section.settings.image != blank %} bg_wrapper {% endif %} banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} ">
  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {%-liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = "banner__media-image-half"
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = "(min-width: 750px) 50vw, 100vw"
        elsif section.settings.image_2 != blank
          assign sizes = "50vw"
        else
          assign sizes = "100vw"
        endif
      -%}
      {{ section.settings.image | image_url: width: 1500 | image_tag: 
       loading: 'lazy'
       , width: section.settings.image.width
       , height: image_height
       , class: image_class
       , sizes: sizes
       , widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
       , alt: section.settings.image.alt | escape }}
    </div>

  {%- endif -%}
  <div class="banner__content lr-blocks-banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box lr-blocks-banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      <div class="banner__box-item">

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
            <h2
              class="banner__heading {{ block.settings.heading_size }}"
              {{ block.shopify_attributes }}
              style="color:{{block.settings.font_color}};font-weight:{{ block.settings.font-weight }};font-size:{{block.settings.font_size}}px;margin-top:{{block.settings.margin-top}}px;margin-bottom:{{block.settings.margin-bottom}}px;">
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
            {%- when 'text' -%}
            <div
              class="banner__text {{ block.settings.text_style }}"
              {{ block.shopify_attributes }}
              style="color:{{block.settings.font_color}};font-size:{{block.settings.font_size}}px;margin-top:{{block.settings.margin-top}}px;margin-bottom:{{block.settings.margin-bottom}}px;">
              <span>{{ block.settings.text | escape }}</span>
            </div>
            {%- when 'buttons' -%}
            <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.button_label_1 != blank -%}
                <a style="border:1px solid {{block.settings.button_color}};color:{{block.settings.button_color}};" {% if block.settings.button_link_1 == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.button_link_1 }}"{% endif %}class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}
                  <img
                    src="{{'button_logo_1.png'  | asset_url }}"
                    width="12"
                    height="12" />
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a {% if block.settings.button_link_2 == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}
                  <img
                    src="{{'button_logo_1.png'  | asset_url }}"
                    width="12"
                    height="12" />
                </a>
              {%- endif -%}

            </div>
          {%- endcase -%}
        {%- endfor -%}


        <div class="card-flex-box">
          {%- for block in section.blocks -%}
            {%- case block.type -%}

              {%- when 'pictureCard' -%}
              <div class="m">
                <img
                  src="{{ block.settings.picture-card-item  | image_url }}"
                  width="110"
                  height="46"
                  loading="lazy" />
              </div>

            {%- endcase -%}

          {%- endfor -%}
        </div>
      </div>
      {%- if section.settings.is_lr == 'true' -%}
        <div class="banner__box-item" style="display:block;">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'image_wrapper' and block.settings.image_1 != blank -%}

              <img
                style="{% if block.settings.is_imgFixed == 'true' %} width:100%;{% endif %}{% if block.settings.is_imgFixed == 'false' %}  width:408px;height:408px;{% endif %"
                class="image-wrapper"
                src={{ block.settings.image_1 | image_url }} />

              {%- when 'right_text_wrapper' -%}
              <div class="right-text-wrapper" style="font-size:{{block.settings.font_size}}px;{%- if block.settings.is_border == 'true' -%}border-bottom:2px solid #B1EB35;{%- endif -%}">
                {{ block.settings.right_text }}
              </div>

            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "左右分块内容",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      }, {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
        "default": 0
      }, {
        "type": "select",
        "id": "is_lr",
        "options": [
          {
            "value": "true",
            "label": "是"
          }, {
            "value": "false",
            "label": "否"
          }
        ],
        "default": "false",
        "label": "是否左右分块"
      }, {
        "type": "checkbox",
        "id": "show_text_box",
        "default": true,
        "label": "t:sections.image-banner.settings.show_text_box.label"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image-banner.blocks.heading.name",
        "limit": 5,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Image banner",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          },
          {
            "type": "range",
            "id": "font-weight",
            "min": 0,
            "max": 900,
            "step": 100,
            "label": "字体加粗",
            "default": 400
          },
          {
            "type": "range",
            "id": "font_size",
            "min": 12,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 24
          }, {
            "type": "range",
            "id": "margin-top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "上边距",
            "default": 0
          }, {
            "type": "range",
            "id": "margin-bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "下边距",
            "default": 0
          }, {
            "type": "select",
            "id": "font_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "字体颜色"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.image-banner.blocks.text.name",
        "limit": 5,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Give customers details about the banner image(s) or content on the template.",
            "label": "t:sections.image-banner.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
              }, {
                "value": "subtitle",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
              }, {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
          },
          {
            "type": "range",
            "id": "font_size",
            "min": 12,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 24
          },
          {
            "type": "range",
            "id": "margin-top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "上边距",
            "default": 0
          }, {
            "type": "range",
            "id": "margin-bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "下边距",
            "default": 0
          }, {
            "type": "select",
            "id": "font_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "字体颜色"
          }
        ]
      },
      {
        "type": "buttons",
        "name": "t:sections.image-banner.blocks.buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
          }, {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
          }, {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
          }, {
            "type": "select",
            "id": "button_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "按钮颜色"
          }
        ]
      },
      {
        "type": "image_wrapper",
        "limit": 1,
        "name": "图片内容",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "第一张图片"
          }, {
            "type": "select",
            "id": "is_imgFixed",
            "options": [
              {
                "value": "true",
                "label": "是"
              }, {
                "value": "false",
                "label": "否"
              }
            ],
            "default": "false",
            "label": "图片是否占满容器"
          }
        ]
      }, {
        "type": "pictureCard",
        "name": "图片卡片",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "picture-card-item",
            "label": "图片卡片"
          }
        ]
      }, {
        "type": "right_text_wrapper",
        "name": "右边文案内容",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "right_text",
            "label": "文案内容"
          }, {
            "type": "range",
            "id": "font_size",
            "min": 12,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 24
          }, {
            "type": "select",
            "id": "is_border",
            "options": [
              {
                "value": "true",
                "label": "是"
              }, {
                "value": "false",
                "label": "否"
              }
            ],
            "default": "false",
            "label": "是否有下边框"
          }
        ]
      }



    ],
    "presets": [
      {
        "name": "左右分块内容",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "buttons"
          },
          {
            "type": "image_wrapper"
          }, {
            "type": "pictureCard"
          }, {
            "type": "right_text_wrapper"
          }

        ]
      }
    ]
  }
{% endschema %}