{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before, #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner-component__content::before  {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
    }
    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }

    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }}
    ;
  }
  .rich-text-img img{
    margin:14px 20px;
/*     display:flex;
    justify-content:space-between; */
  }
  @media screen and (max-width: 750px) {

  .rich-text-button_button{
    position:unset !important;
  }
   
  }
  
 @media screen and (max-width: 1080px) {
    .banner-component-1 .banner-component__content .banner-component_1__box{
      width:90% !important;
    }
 }
   @media screen and (max-width: 750px) {
   .banner__left_bottom_info{
     width:98% !important;
   }
    
   }
  .rich-text-button__content{
    position:relative;
  }
.rich-text-button_button {
    background: none;
    /* color: #fff; */
    /* border: 1px solid #fff; */
    border-radius: 20px;
    padding: 6px 14px;
  position:absolute;
  right:0;
  bottom:24px;
  }
  .rich-text-button_button img {
    margin-left: 14px;
    vertical-align: middle;
  }
  
 
{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="rich-text-button">
  <div class="rich-text-button__content  page-width">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="rich-text-heading" {{ block.shopify_attributes }} style="color:{{ block.settings.heading_color }};font-size:{{ block.settings.font_size }}px;margin-top:{{ block.settings.margin_top }}px;margin-bottom:{{ block.settings.margin_bottom }}px;font-weight:{{ block.settings.font_weight }}">
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
          {%- when 'text' -%}
          <div class="text-wrapper" style="color:{{ block.settings.text_color }};font-size:{{ block.settings.font_size }}px;margin-top:{{ block.settings.margin_top }}px;margin-bottom:{{ block.settings.margin_bottom }}px;font-weight:{{ block.settings.font_weight }}">
              <span>
                {{ block.settings.text }}
              </span>
          </div>
          {% when 'button' %}
           <a style="border:1px solid {{block.settings.button_color}};text-decoration:none;color:{{block.settings.button_color}};" {% if block.settings.banner_button_link == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.banner_button_link }}"{% endif %}class="rich-text-button_button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.banner_button_label | escape }}
              <img
                src="{{   'button_logo_2.png' | asset_url }}"
                width="12"
                height="12" />
          </a>
          

      {% endcase %}
    {% endfor %}
    <div class="rich-text-img">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'rich_text_img' %}
          <img width="{{ block.settings.img_width }}" height="{{ block.settings.img_height }}" src="{{ block.settings.rich_text_img | image_url }}" />
      {% endcase %}
    {% endfor %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "无背景图的富文本",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image-banner.blocks.heading.name",
        "limit": 6,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Image banner",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          },
          {
            "type": "range",
            "id": "font_size",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "文本字体大小",
            "default": 24
          },
          {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "文本上边距",
            "default": 24
          }, {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "文本下边距",
            "default": 24
          }, {
            "type": "select",
            "id": "heading_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "黑色"
          }, {
            "type": "range",
            "id": "font_weight",
            "min": 100,
            "max": 900,
            "step": 100,
            "label": "字体加粗",
            "default": 400
          }
        ]
      },
       {
        "type": "text",
        "name": "文本内容",
        "limit": 6,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "rich text",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          },
          
          {
            "type": "range",
            "id": "font_size",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "文本字体大小",
            "default": 24
          },
          {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "文本上边距",
            "default": 24
          }, {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "文本下边距",
            "default": 24
          }, {
            "type": "select",
            "id": "text_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "黑色"
          }, {
            "type": "range",
            "id": "font_weight",
            "min": 100,
            "max": 900,
            "step": 100,
            "label": "字体加粗",
            "default": 400
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.image-banner.blocks.buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "banner_button_label",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "banner_button_link",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
          }, {
            "type": "range",
            "id": "font_size",
            "min": 0,
            "max": 36,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 24
          },
          {
            "type": "select",
            "id": "button_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "按钮颜色"
          }, {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "上边距",
            "default": 0
          }, {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "下边距",
            "default": 0
          }
        ]
      },
      {
        "type":"rich_text_img",
        "name":"图片内容",
        "limit":3,
        "settings":[
          {
            "type": "range",
            "id": "font_size",
            "min": 0,
            "max": 36,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 24
          },
          {
            "type":"range",
            "id":"img_width",
            "min":20,
            "max":110,
            "step":2,
            "label":"图片宽度",
            "default":30
          },
          {
            "type":"range",
            "id":"img_height",
            "min":20,
            "max":110,
            "step":2,
            "label":"图片高度",
            "default":30
          },
          {
            "type":"image_picker",
            "id":"rich_text_img",
            "label":"选择超链接图标"
          }
        ]
      }
      
    ],
    "presets": [
      {
        "name": "无背景图的富文本",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          },
          {"type":"button"},
          {"type":"rich_text_img"}
          
        ]
      }
    ]
  }
{% endschema %}